.wonyoung {
    background-color: rgba(255, 192, 203, .5);
}

.sakura {
    background-color: rgba(204, 19, 49, 0.5);
}

.yuri {
    background-color: rgba(255, 165, 0, .5);
}

.yena {
    background-color: rgba(255, 255, 0, .5);
}

.yujin {
    background-color: rgba(0, 0, 255, .5);
}

.nako {
    background-color: rgba(135, 206, 235, .5);
}

.eunbi {
    background-color: rgba(191, 0, 255, .5)
}

.hyewon {
    background-color: rgba(255, 127, 80, .5);
}

.hitomi {
    background-color: rgba(253, 239, 213, .5);
}

.chaewon {
    background-color: rgba(181, 234, 170, .5);
}

.minju {
    background-color: rgba(255, 255, 255, .5);
}

.chaeyeon {
    background-color: rgba(127, 255, 212, .5);
}